.jobs{

    border: 1px solid rgb(15, 15, 15);
    width: 25%;
    float: left;
    height: 100px;
    margin-left: 2%;
    margin-top: 20px;
    text-align: center;
  
}

.jobs:hover{

    box-shadow: 5px 5px #888888;
}

.job_position{

    margin:0px;
    font-size: 23px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    text-overflow: ellipsis;
    overflow: hidden;

}

.company_name{

    font-size: 17px;
    margin: 0px;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;

    overflow: hidden;
    text-overflow: ellipsis;
}

.location{

    font-size: 17px;
    margin: 0px;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    text-overflow: ellipsis;
    overflow: hidden;
}